.container{
    background-color: #FAFAFA;
    height: 100vh;
    padding: 2% 5%;
  }
  
  .logo{
    color: #6D0DE3;
    font-size: 1.1rem;
    font-family: SignikaBold;
    height: 5%;
  }

  .wrapperMain{
    height: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .wrapperProyecCenter{
    grid-column: 1;
    grid-row: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .containerProject{
    height: 90%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 2% 5%;
}

.titleProjectMain{
    font-size: 1rem;
    color: #35434b;
    font-family: 'SignikaRegular';
    margin-bottom: 30px;
}

.tituloInforUser{
    color: #253238;
    font-family: 'SignikaSemiBold';
    margin-left: 10%;
    font-size: 1.2rem;
    margin-bottom : 30px;
}

.wrapperformInfoUser{
  width: 80%;
  margin: auto;
}

.btnEnviar{
  background-color:#84a98c ;
  color: white;
  font-family: 'SignikaSemiBold';
  padding: 8px 15px;
  border-radius: 7px;
  margin-top: 30px;
}