.container{
  background-color: #FAFAFA;
  height: 100vh;
  padding: 2% 5%;
}

.logo{
  color: #6D0DE3;
  font-size: 1.1rem;
  font-family: SignikaBold;
  height: 5%;
}

.wrapperMain{
  height: 95%;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.wrapperContent{
  grid-column: 1;
  grid-row: 1/3;
  padding: 20px;
}

.content{
  background-color: #2F3D46;
  border-radius: 20px;
  height: 100%;
  padding: 10%;
}

.slogan1, .slogan2{
  color: white;
  font-family: 'SignikaBold';
  font-size: 3rem;
}

.btnProject{
  background-color: #FAFAFA;
  color: #2B2934;
  font-family: 'SignikaRegular';
  font-size: 1rem;
  padding: 8px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  display: flex;
  margin-top:10% ;
}


.wrapperImg{
  grid-column: 2/4;
  grid-row: 1;
  padding: 25px 0px ;
  height: 100%;
  overflow: hidden;
}

.containerImg{
  background-color: #364F53;
  border-radius: 20px;
  height: 100%;
  padding: 10%;
  height: 100%;
  overflow: hidden;

}

.imgProgram{
  width: 150%;
  height: 150%;
  position: relative;
  bottom: -19%;
  right: -20%;
}

.wrapperAboutUs{
  grid-column: 2;
  grid-row: 2;
  padding: 0px 0px 15px ;
}

.containerAboutUs{
  background-color: #2e8572;
  border-radius: 20px;
  height: 100%;
  padding: 10%;
  font-family: 'SignikaSemiBold';
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.titleAboutUs{
  font-size: 1.6rem;
  align-self: flex-start;
}


.wrapperContact{
  grid-column: 3;
  grid-row: 2;
  padding:  0px 0px  15px;
}

.containerContact{
  background-color: #517970;
  border-radius: 20px;
  height: 100%;
  padding: 10%;
  font-family: 'SignikaSemiBold';
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.titleContacto{
  color: #FAFAFA;
  font-size: 1.6rem;
  align-self: flex-start;
}

.btnContacto{
  background-color: #FAFAFA;
  color: #2B2934;
  font-family: 'SignikaRegular';
  font-size: 1rem;
  padding: 8px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  display: flex;
  margin-top:10% ;
}

